.foot-menu{
  width:100%;
  height:5rem;
  background-color:rgb(231,238,241);
}
.foot-menu ul{
  width:100%;
}
.foot-menu li{
  width:20%;
  float: left;
  background-color:rgb(231,238,241);
  text-align: center;
  padding:0.5rem 0px;
}
.foot-menu li a{
  display: block;

}
.foot-menu li a img{
  width:2.5rem;
  height:2.5rem;
}
.foot-menu li span{
  display: inline-block;
}
