
<router-outlet></router-outlet>


<footer class="foot-menu">
 <ul class="floatF">
     <li><a routerLink="/" routerLinkActive="active"><img src="../assets/img/21.jpg" alt=""></a><span>首页</span></li>
     <li><a routerLink="/index/index" ><img src="../assets/img/16.jpg" alt=""></a><span>微淘</span></li>
     <li><a routerLink="/notice/notice"><img src="../assets/img/20.jpg" alt=""></a><span>消息</span></li>
     <li><a href="#"><img src="../assets/img/18.jpg" alt=""></a><span>购物车</span></li>
     <li><a routerLink="/user/user"><img src="../assets/img/19.jpg" alt=""></a><span>我的淘宝</span></li>
 </ul>
</footer>
