<!--The content below is only a placeholder and can be replaced.-->
<div class="index-content">
  <div class="search-pro"><span><img src="../assets/img/3.jpg" alt=""></span><span><input type="text"
                                                                                          placeholder="搜索宝贝店铺"></span>
  </div>
  <div class="swiper-banner">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>

  </div>
  <div class="icon-list">
    <ul>
      <li><a><i class="icon-list-img icon-list-img1"></i></a><span>天猫</span></li>
      <li><a><i class="icon-list-img icon-list-img2"></i></a><span>聚划算</span></li>
      <li><a><i class="icon-list-img icon-list-img3"></i></a><span>天猫国际</span></li>
      <li><a><i class="icon-list-img icon-list-img4"></i></a><span>外卖</span></li>
      <li><a><i class="icon-list-img icon-list-img5"></i></a><span>天猫超市</span></li>
      <li><a><i class="icon-list-img icon-list-img6"></i></a><span>充值中心</span></li>
      <li><a><i class="icon-list-img icon-list-img7"></i></a><span>飞猪旅行</span></li>
      <li><a><i class="icon-list-img icon-list-img8"></i></a><span>淘金币</span></li>
      <li><a><i class="icon-list-img icon-list-img9"></i></a><span>拍卖</span></li>
      <li><a><i class="icon-list-img icon-list-img10"></i></a><span>分类</span></li>

      <div class="clear-fix"></div>
    </ul>

  </div>
  <div class="new-swipe floatF">
    <div class="new-swipe-img"><img src="../assets/img/10.jpg" alt=""></div>
    <div class="new-swipe-text">
      <p><em>热门</em><span>土豪撒钱，400万仅1天</span></p>
      <p><em>头条</em><span>土豪撒钱，400万仅1天</span></p>
    </div>
  </div>

  <div class="bg-color"></div>
  <div class="category-list floatF">
    <div><img src="../assets/img/11.jpg" alt=""></div>
    <div><img src="../assets/img/12.jpg" alt=""></div>
    <div><img src="../assets/img/13.jpg" alt=""></div>
    <div><img src="../assets/img/14.jpg" alt=""></div>
  </div>
</div>



