<div class="user-content">
  <div class="user-con">
    <div class="user-con-title"><span>设置</span><i><img src="../../assets/img/3.png" alt=""></i><i><img
      src="../../assets/img/2.png" alt=""></i></div>
    <div class="user-con-photo">
      <span><img src="../../assets/img/28.jpg" alt="">Beauty_pan</span>
      <span class="user-amount"><img src="../../assets/img/4.png" alt=""><em>淘气值825</em></span>
    </div>
  </div>
  <div class="user-collection">
    <ul class="floatF">
      <a href="">
        <li><span>45</span><span>收藏夹</span></li>
      </a>
      <a href="">
        <li><span>12</span><span>关注店铺</span></li>
      </a>
      <a href="">
        <li><span>397</span><span>足迹</span></li>
      </a>
    </ul>
  </div>
  <div class="user-orders">
    <div class="user-order-title">我的订单 <span>查看更多订单</span><img src="../../assets/img/31.jpg" alt=""></div>
    <div class="user-order-con floatF">

      <a href="#"><i class="user-order-img user-order-img1"></i><span>代付款</span></a>
      <a href="#"><i class="user-order-img user-order-img2"></i><span>代发货</span></a>
      <a href="#"><i class="user-order-img user-order-img3"></i><span>代收货</span></a>
      <a href="#"><i class="user-order-img user-order-img4"></i><span>代评价</span></a>
      <a href="#"><i class="user-order-img user-order-img5"></i><span>退款/售后</span></a>

    </div>
    <div class="logistical swiper-container-ueser">
      <ul class="swiper-wrapper">
        <li class="floatF swiper-slide">
          <div><h4>最新物流</h4><h4>07:58</h4></div>
          <div class="icon-img"><img src="../../assets/img/36.jpg" alt=""></div>
          <div class="logistical-detail floatF"><span><img src="../../assets/img/34.jpg" alt=""></span><span><h4>运输中</h4><h4>快件已从上海出发</h4></span></div>
        </li>
        <li class="floatF swiper-slide">
          <div><h4>最新物流</h4><h4>08:09</h4></div>
          <div class="icon-img"><img src="../../assets/img/36.jpg" alt=""></div>
          <div class="logistical-detail floatF"><span><img src="../../assets/img/35.jpg" alt=""></span><span><h4>运输中</h4><h4>快件已从上海出发</h4></span></div>
        </li>
        <li class="floatF swiper-slide">
          <div><h4>最新物流</h4><h4>07:58</h4></div>
          <div class="icon-img"><img src="../../assets/img/36.jpg" alt=""></div>
          <div class="logistical-detail floatF"><span><img src="../../assets/img/15.jpg" alt=""></span><span><h4>运输中</h4><h4>快件已从上海出发</h4></span></div>
        </li>
        <li class="floatF swiper-slide">
          <div><h4>最新物流</h4><h4>07:58</h4></div>
          <div class="icon-img"><img src="../../assets/img/36.jpg" alt=""></div>
          <div class="logistical-detail floatF"><span><img src="../../assets/img/16.jpg" alt=""></span><span><h4>运输中</h4><h4>快件已从上海出发</h4></span></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="user-tool">
    <div class="user-tool-title">必备工具 <span>查看全部工具</span><img src="../../assets/img/31.jpg" alt=""></div>
    <div class="user-tool-con floatF">
      <a href="#"><i class="user-tool-img user-tool-img1"></i><span>卡券包</span></a>
      <a href="#"><i class="user-tool-img user-tool-img2"></i><span>花呗</span></a>
      <a href="#"><i class="user-tool-img user-tool-img3"></i><span>会员中心</span></a>
      <a href="#"><i class="user-tool-img user-tool-img4"></i><span>我的小蜜</span></a>
    </div>

  </div>
</div>

